<!DOCTYPE html>
<html>
  <head>
    <title>No Stories</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <style>
      .hero {
        background: black url(<%=asset_path'hero-1.jpg'%>) center / cover;
      }

      @media (max-width: 1024px) {
        .hero {
          background: black url(<%=asset_path'hero-2.jpg'%>) center / cover;
        }
      }
      @media (max-width: 768px) {
        .hero {
          background: black url(<%=asset_path'hero-3.jpg'%>) center / cover;
        }
      }
    </style>

    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-fullheight">
      <%= render '/layouts/nav' %>
      <header class="hero-body">
        <div
          class="is-overlay has-text-centered single-spaced"
          style="top: 150px;"
        >
          <h1
            class="subtitle is-4 is-size-5-mobile is-uppercase has-text-weight-light"
          >
            Save the recipe
          </h1>
          <h2 class="title has-text-white is-uppercase is-1 is-size-4-mobile">
            Not the life story
          </h2>
          <a class="button is-large is-rounded cta-button">Get Started</a>
        </div>
      </header>
    </section>
  </body>
</html>
